#contact {
  padding: 128px 120px 200px 120px;
  background-image: url(/assets/image/Background_Contacts.png);
  background-size: cover; 
  background-position: center;
}

.head-contact {
  justify-items: center;
  justify-self: center;
  gap: 8px;
  width: 420px;
  height: 91px;
  padding-bottom: 48px;
}

.purple {
  font: var(--subtitle);
  color: var(--purple);
}

.contact {
  padding-top: 48px;
  justify-self: center;
  gap: 16px;
}

.contact-item {
  display: flex;
  background-color: var(--gray-4);
  width: 400px;
  height: 68px;
  border-radius: 8px;
  padding: 20px;
  align-items: center;
}

.redes {
  display: flex;
  margin-left: 10px;
  font: var(--text-mdm);
  color: var(--gray-2);
  width: 288px;
}

.x {
  max-width: 100%;
  width: 28px;
  height: 28px;
}

.y {
  width: 20px;
  height: 20px;
}